.square_one {
    height: 150px;
    width: 150px;
    background-color: rgb(14 165 233);
    border-radius: 10px;
    border: 3px solid black;
    margin-left: 200px;
    margin-top: 40px;
  }

.square_two {
    height: 150px;
    width: 150px;
    background-color: rgb(14 165 233);
    border-radius: 10px;
    border: 3px solid black;
    margin-left: 100px;
    margin-top: 200px;
}

.jack_test { /* placeholder image. will be replacing with a photo of myself*/
    overflow: hidden;
    position: absolute; /* this ignores other elements and overlaps them*/
    animation: fadeIn 1.5s;
    animation-fill-mode: both; /* makes it so animation does not reset*/
}

@keyframes fadeIn {
    0% { opacity: 0; } 
    100% { opacity: 1; } /* start opacity at 0% and end at 100%*/
    from {
        transform: translateX(0%);
      }
    
    to {
        transform: translateX(25%); /* from first X position, increase by 25% */
      } 
  }

.container {
  text-align: center;
}

.header-shadow {
  display: inline-block;
  text-align: center;
  background-color: black;
  box-shadow: 5px 10px #c084fc;
  position: relative;
  color: rgb(248 250 252); /* Tailwind color: Slate */
  font-size: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin-top: 1.2em;
}

.my-name{
  font-size: 150px;
  text-align: center;
  line-height: 1em;
  margin-right: 200px;
}

.three-traits {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;

}

.middle-button {
  animation: bounce 1.5s;
  animation-iteration-count: infinite;
  text-align: center;
  margin-top: 140px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  height: 45px;
  width: 45px;
  background-color: #c084fc;
  border-radius: 50%;
}